<footer>
	Find me on...
	<div class="socials">
		<a href="https://github.com/pumpkinhasapatch" alt="GitHub" title="GitHub"><img src="/img/icons/github-mark-white.svg"></a>
		<a href="/discord" alt="Discord" title="Discord"><img src="/img/icons/icons8-discord.svg"></a>
		<a href="https://bsky.app/profile/pumpkin.moe" alt="Bluesky" title="Bluesky"><img src="/img/icons/icons8-bluesky.svg"></a>
		<a href="https://aus.social/@pumpkinhasapatch" alt="Mastodon" title="Mastodon"><img src="/img/icons/icons8-mastodon.svg"></a>
		<a href="https://ko-fi.com/pumpkinhasapatch" alt="Support me on Ko-Fi" title="Support me on Ko-Fi"><img src="/img/icons/icons8-ko-fi.svg"></a>
	</div>

	<div style="font-size: 12px">Website © PumpkinhasaPatch 2025. Social Media icons by <a href="https://icons8.com">Icons8</a>.</div>
</footer>