<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }} | Pumpkin's Place</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" class="js-site-favicon" href="/img/pumpkin3d.png">
		<meta name="description" content="{{ page.title }}">
		<meta name="keywords" content="{{ page.categories }}">
		<meta name="author" content="PumpkinhasaPatch">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		{% include header.html %}
		<div class="container">
		

		<h1>{{page.title}}</h1>
		
		{{ content }}
		
		</div><!-- /.container -->

		{% include footer.html %}
	</body>
</html>